@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base
{
  body{
    @apply bg-gray-100;
  }
}
.sidebar {
 
  background-color: #17134E;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.box {
  border-radius:17px;
  width: 350px; 
  padding: 10px 20px; 
  

}

.box:hover
{
  color: black;
  border-radius:17px;
  background-color: white;
  width: 350px;
  font-size: 30px;
  padding: 10px 20px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;

}

.logo{
  background-image: url('../images/nor.png');
  padding-bottom: 100px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}